// COLORS
$primary-color: #095456;
$secondary-color: #00cdac;

$white-color: #FAF9F6; // #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #9773a6; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
